.score-grid {
  margin: 0 1rem;            /* samakan margin kiri-kanan dengan header */
  padding: 8px;
  display: grid;
  gap: 12px 24px;
  align-items: start;

  /* default: 2 kolom */
  grid-template-columns: repeat(2, minmax(140px, 1fr));
  grid-template-areas:
    "subscribe click"
    "read click";
}

.type-box {
  text-align: left;
}

.subscribe { grid-area: subscribe; }
.read { grid-area: read; }
.click { grid-area: click;}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 6px;
}

.value-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.value {
  font-size: 18px;
  font-weight: bold;
  color: #1b3b6f;
}

/* kalau layar sempit / tidak muat -> turun kebawah (1 kolom) */
@media (max-width: 400px) {
  .score-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "subscribe"
      "read"
      "engagement";
  }
}
